$red: #F00
$disabledGray: #4E4F5F

/* All elements have class names and are docuemnted here if they do not have more specific styling below */
.doxen-form-field-checkbox,
.doxen-form-field-checkbox-container,
.doxen-form-field-checkbox-name-disabled,
.doxen-form-field-checkbox-name-error,
.doxen-form-field-error,
.doxen-form-field-fieldset,
.doxen-form-field-legend,
.doxen-form-field-message
    display: inherit

.doxen-form-field-checkbox-error,
.doxen-form-field-legend-error,
.doxen-form-field-required
    color: $red

.doxen-form-field-legend-disabled
    color: $disabledGray
