$red: #F00
$disabledGray: #4E4F5F
$transparent: transparent
$gray50: rgba(68, 69, 85, 0.5)
$black10: rgba(0, 1, 16, 0.10)

/**
 * All elements have class names and are docuemnted here.
 */
.doxen-sidebar-button,
.doxen-form-field-checkbox,
.doxen-form-field-checkbox-container,
.doxen-form-field-checkbox-error,
.doxen-form-field-checkbox-name-disabled,
.doxen-form-field-checkbox-name-error,
.doxen-form-field-checkbox-name-label,
.doxen-form-field-dropdown,
.doxen-form-field-dropdown-container,
.doxen-form-field-dropdown-error,
.doxen-form-field-dropdown-option,
.doxen-form-field-fieldset,
.doxen-form-field-error,
.doxen-form-field-legend,
.doxen-form-field-legend-disabled,
.doxen-form-field-legend-error,
.doxen-form-field-message,
.doxen-form-field-radio-dial,
.doxen-form-field-radio-dial-container,
.doxen-form-field-radio-dial-name-disabled,
.doxen-form-field-radio-dial-name-error,
.doxen-form-field-radio-dial-name-label,
.doxen-form-field-radio-dials-container,
.doxen-form-field-required,
.doxen-form-field-text-field,
.doxen-form-field-text-field-container,
.doxen-form-field-text-field-error,
.doxen-form-field-textarea,
.doxen-form-field-textarea-code,
.doxen-form-field-textarea-container,
.doxen-form-field-textarea-error,
.doxen-props-playground-form,
.doxen-sidebar-button-not-selected,
.doxen-sidebar-button-selected,
.doxen-sidebar-container,
.doxen-vue-doxen
    --doxen-placeholder: ''

/**
 * :where([data-*]) is used to produce the lowest specificity
 * selectors so they do not override any provided css.
 */


/* Props Playground */
:where([data-applied-style-tokens~="propsPlaygroundForm"])
    display: flex
    flex-wrap: wrap

/* Basic styling on field sets */
:where([data-applied-style-tokens~="formFieldFieldset"])
    display: inline-flex
    flex-direction: column
    flex-grow: 1
    background: $black10
    border: 0px
    margin: 10px
    padding: 10px
    min-inline-size: min-content

/* Basic legend styling */
:where([data-applied-style-tokens~="formFieldLegend"])
    float: left
    font-weight: bold

/* Whitespace on Radio dial names */
:where([data-applied-style-tokens~="formFieldRadioDialNameLabel"])
    margin-right: 10px

/* Required and Error states */
:where([data-applied-style-tokens~="formFieldCheckboxError"]),
:where([data-applied-style-tokens~="formFieldCheckboxNameError"]),
:where([data-applied-style-tokens~="formFieldDropdownError"]),
:where([data-applied-style-tokens~="formFieldError"]),
:where([data-applied-style-tokens~="formFieldLegendError"]),
:where([data-applied-style-tokens~="formFieldRadioDialNameError"]),
:where([data-applied-style-tokens~="formFieldRequired"]),
:where([data-applied-style-tokens~="formFieldTextFieldError"]),
:where([data-applied-style-tokens~="formFieldTextareaError"])
    color: $red

/* Disabled styling */
:where([data-applied-style-tokens~="formFieldLegendDisabled"])
    color: $disabledGray

/* Sidebar */
:where([data-applied-style-tokens~="sidebarContainer"])
    display: flex
    flex-direction: column

/* Remove styling on sidebar buttons unless active */
:where([data-applied-style-tokens~="sidebarButton"])
    background: $transparent
    border: 0px

/* Give some affordance to currently selected sidebar component */
:where([data-applied-style-tokens~="sidebarButtonActive"])
    background: $gray50

/* Remove white-space around paragraph */
:where([data-applied-style-tokens~="formFieldMessage"])
    margin-top: 0px
    margin-bottom: 0px

/* The required asterisk */
:where([data-applied-style-tokens~="formFieldRequired"])
    padding-left: 3px

/* Monospace font for textareas with code in them */
:where([data-applied-style-tokens~="formFieldTextareaCode"])
    font-family: monospace
