.git/
.github/
coverage/
docs/
manualTesting/
node_modules/
public/
tests/
.editorconfig
.eslintrc.cjs
.eslintrc.js
.gitattributes
.gitignore
.npmignore
CODE_OF_CONDUCT.md
index.html
package-lock.json
vite.config.docs.js
vite.config.lib.js
