.docs-container
    display: flex
    justify-content: space-between
    width: 100%
    max-width: 1200px
    margin: 0px auto

.docs-page,
.docs-sub-title,
.docs-title
    font-family: 'Hepta Slab', Rockwell, 'Rockwell Nova', 'Roboto Slab', 'DejaVu Serif', 'Sitka Small', Courier Bold, Courier, Georgia, serif
    font-optical-sizing: auto
    font-style: normal

.docs-title
    color: #41B883
    font-size: 46px
    font-weight: 900
    letter-spacing: -2px
    text-shadow: 7px -2px 0px #34495E, 7px 2px 0px #34495E, 2px 2px 0px #34495E, -2px -2px 0px #34495E, 2px -2px 0px #34495E, -2px 2px 0px #34495E
    &:first-of-type
        margin-top: 0px

.docs-sub-title
    font-size: 18px
    font-weight: 750

.docs-page
    line-height: 1.7

.docs-page code
    line-height: 1.35

.docs-sidebar
    display: flex
    flex-direction: column
    margin-right: 10px
    .docs-sub-title
        margin-top: 30px
    a
        position: relative
    a:before
        content: '●'
        position: absolute
        left: -1rem
        font-size: 0.9rem
        font-weight: bold
        opacity: 0.0
        text-decoration: none
    a:hover:before
        opacity: 0.5
    .router-link-active:before,
    .router-link-active:hover:before
        opacity: 1.0

/* Axe-Vue popup */
.va-popup *
    color: #222

.va-code-block *
    color: #FFA07A

/* Slim Loading indicator at top of screen during navigation */
#nprogress .bar
    background: #41B883

@media (width < 831px)
    .docs-container
        flex-direction: column
    .docs-sidebar
        display: block
        a
            display: inline-block
            margin: 0rem 1rem 0.5rem 1.5rem
            line-height: 1.6
    .docs-page
        .docs-title
            font-size: 33px
        code
            word-break: break-word
