# Ran on every PR before it can be merged

name: Node.js CI

env:
  PROTO_LOG: trace
  PROTO_TELEMETRY: false

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - uses: moonrepo/setup-toolchain@v0
      with:
        auto-install: true
    - run: proto status
    - run: whereis node
    - run: whereis npm
    - run: echo "$PATH"
    - run: node -v
    - run: npm -v
    - run: npm ci
    - run: npm run build
    - run: npm run lint
    - run: npm t
